@import "../../../variables.scss";

.color-red {
  color: $color-red-link;
}

.title {
  font-family: "Yatra One", cursive;
}

.about-me {
  font-family: "Fjalla One", sans-serif;
}

.link-active {
  background-color: #0284c7;
}
