@import "../../../../variables.scss";

.link-active {
  background-color: rgb(2, 132, 199);
}

.priorities {
  &:first-child {
    border-radius: 15px 0 0 0;
  }
  &:last-child {
    border-radius: 0 0 0 15px;
  }
  &:nth-child(odd) {
    background: rgb(92, 131, 213);
    background: linear-gradient(90deg, #5c83d5 0%, #2e4678 30%, #1f2738 71%);
  }
  &:nth-child(even) {
    background: rgb(40, 75, 148);
    background: linear-gradient(90deg, #284b94 0%, #1f3461 30%, #1f2738 70%);
  }
}

.categories {
  &:first-child {
    border-radius: 0 15px 0 0;
  }
  &:last-child {
    border-radius: 0 0 15px 0;
  }
  &:nth-child(odd) {
    background: rgb(40, 75, 148);
    background: linear-gradient(270deg, #284b94 0%, #1f3461 30%, #1f2738 70%);
  }
  &:nth-child(even) {
    background: rgb(92, 131, 213);
    background: linear-gradient(270deg, #5c83d5 0%, #2e4678 30%, #1f2738 71%);
  }
}

.vertical-line::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 60%;
  transform: translate(-50%, -50%);
  background-color: #5c83d5;
  border-radius: 20%;
  @include neon-shadow-box-medium(#5c83d5);
}

.horizontal-line:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 1px;
  transform: translate(-50%, -50%);
  background-color: #5c83d5;
  border-radius: 20%;
  @include neon-shadow-box-medium(#5c83d5);
}
